/node_modules
/public/hot
/public/storage
/public/data
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env

*.lock

*.swp
*.swo

resources/assets/bower

public/js/all.js
public/css
